MYSQL_HOST="localhost"
MYSQL_USER="root"
MYSQL_PASSWORD=
MYSQL_DB="database_name"

ACCESS_TOKEN_SECRET=generate_a_secure_access_token_secret
REFRESH_TOKEN_SECRET=generate_a_secure_refresh_token_secret